#files {
    width: 80%;
    background-color: $darkC3;
    border-collapse: collapse;
    padding: 5px;
    -webkit-box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.2);
    box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.2);
}

#files>td, #files>th {
    border: 1px solid $darkC1;
}

#files>td {
    cursor: pointer;
    transition: 200ms all;
    &:hover {

    }
    &:active {
        border-color: $blue-color;
        -webkit-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        -moz-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
    }
}
