#login-box {
    margin: auto;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0);
    background-color: $darkC1;
    padding: 0px;
    text-align: center;
    margin-top: 200px;
    width: 20%;

    -webkit-box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 15px 35px -10px rgba(0,0,0,0.7);
}

#login-title {
    background-color: $darkC3;
    padding: 10px;
}

.login-icon {
    font-size: 11px;
    margin-right:5px;
    @include uncopiable;
}

input[type=text], input[type=password] {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    background-color: $darkC2 !important;
    padding: 5px;
    width: 50%;
    text-align: center;
    @include uncopiable;
    transition: 200ms all;
    &:focus {
        border-color: $blue-color;
        -webkit-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        -moz-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
    }
}

button {
    padding: 5px;
    font-weight: bold;
    letter-spacing: .3px;
    border: 1px solid $darkC3;
    border-radius: 4px;
    background-color: $darkC3;
    cursor: pointer;
    width: 50%;
    text-align: center;
    @include uncopiable;
    transition: 200ms all;
    &:hover {
        background-color: $darkC1;
    }
    &:active {
        //background-color: $blue-color;
        border-color: $blue-color;
        -webkit-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        -moz-box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
        box-shadow: 0px 0px 0px 4px rgba($blue-color, .4);
    }
}

#loginInfo, #registerInfo {
    color: $red-color;
    word-wrap: break-word;
}
