#startpage-widgets {
    margin-top: 30px;
    margin-left: 20px;
}

.startpage-widget {
    background-color: $darkC1;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0);
    width: 15%;
    height: 10%;
}

.startpage-widget>.title {
    background-color: $darkC3;
    padding: 10px;
}

.startpage-widget>.title>.description {
    font-size: $default-font-size - 2;
    color: $whiteC1;
}

.startpage-widget>.icon {

}
