@import "scss/vars.scss";
@import "scss/fonts.scss";

@import "scss/mixins/main.scss";
@import "scss/elements/main.scss";

body {
    color: $default-font-color;
    font-size: $default-font-size;
    font-family: 'Montserrat', sans-serif;
}

input[type=text], input[type=password] {
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}
